<div class="container">
    <div class="padding">
        <div class="form-group">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
        </div>
        <div class="form-group">
        <!-- price -->
        <!-- component types -->
        <!-- component types -->
        <div class=""><input type="checkbox" name="" id="">
        <label for=""></label>
        </div>
        <div class=""><input type="checkbox" name="" id="">
        <label for="">Computer</label>
        </div>
        <div class=""><input type="checkbox" name="" id="">
        <label for="">Laptop</label>
        </div>
        </div>        
    </div>
</div>