.card{
    width: 100%;
    padding: 0.5%;
    margin: 0.5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card:hover{
    box-shadow: 1px 4px 4px 4px  gray;
}
.card-header{
    width: 100%;
}
.card-header>img{
    width: 100%;
    border-radius: 5px;
}

/*phone*/
@media only screen and (max-width: 375px) {
 .container{
    width: 100%;
 }
 .details{
    flex-direction: column !important;
 }
}



/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 810px) {}