<div class="container">
    <div class="details">
        <div class="slider-container">
            <img src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/42/071213/7.jpg?7557" alt="images"/>
        </div>
        <hr/>
        <div class="details">
            <h4 class="border tm">Details</h4>
            <div class="border-bottom">
                <ol>
                    <li>  flex: 0.7;</li>
                        <li>%background;</li>
                        <li>background-color: white;</li>
                        <li>padding: 1%;</li>
                        <li>border-radius:5px;</li>
                        <li>display: flex;</li>
                        <li>flex-direction: column;</li>
                        <li>justify-content: center;</li>
                </ol>
            </div>
        </div>
        <div class="specification">
            <h4 class="border tm">Specification</h4>
            <div class="border-bottom">
                <ol>
                    <li>  flex: 0.7;</li>
                        <li>%background ;</li>
                        <li>background-color: white;</li>
                        <li>padding: 1%;</li>
                        <li>border-radius:5px;</li>
                        <li>display: flex;</li>
                        <li>flex-direction: column;</li>
                        <li>justify-content: center;</li>
                </ol>
            </div>
        </div>


    </div>
    <div class="add-cart">
        <div class="product-price">
           <h4> Product name</h4>
           <h6>brand</h6>
           <h3>KSh 15,999</h3>
        </div>
        <button class="btn zoom"><img src="../../../../../assets/cart.svg"/>ADD TO CART</button>
        <hr>
        <span>promotion</span>
    </div>
</div>
