.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: transparent;
    margin: 0.1% auto; 
}
.details{
    flex: 0.7;
    margin-right:1% ;
    background-color: white;
    padding: 1%;
    border-radius:5px;
}
.add-cart{
    flex: 0.3;
    background-color: white;
    padding: 1%;
    border-radius:5px;
}