<div class="container">
    <div class="position">
        <a ><img class="facebook" src="../../../assets/facebook.svg" alt="facebook"/> </a>
        <a ><img  class="instagram" src="../../../assets/instagram.svg" alt="instagram"/> </a>
        <a ><img class="twitter" src="../../../assets/twitter.svg" alt="twitter"/> </a>
    </div>
    <div class="position">
        <a ><img class="mpesa" src="../../../assets/mpesa.svg" alt="mpesa"/> </a>
        <a ><img class="paypal" src="../../../assets/paypal.svg" alt="paypal"/> </a>
    </div>
    <div class="position">
        about us
    </div>

</div>
