.container-fluid{
    width: 100%;
    color:black;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1%;
    margin: auto;
    border-radius: 5px;
    margin-bottom:1%;
    justify-content: space-between;
}
.form>form{
    display:flex;
    justify-content: center;
    align-items:center ;
}

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form >form>input{
    border-radius: 10px;
    padding: 3% 1%;
    border-width: 0 0  2px 0;
    outline: 0;

}
.center>img{
width: 20%;
margin-right: 10%;
}
.btn{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 2% 5%;
    text-align: center;
}
.btn:hover{
    opacity: 80%;
    cursor: grab;
}