.container-fluid{
    width: 100%;
    color:black;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1%;
    margin: auto;
    border-radius: 5px;
    margin-bottom:1%;
    justify-content: space-evenly;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left>img{
    width: 40%;
}
.image{
    display: flex;
}
.form>form{
    display:flex;
    justify-content: center;
    align-items:center ;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
.right>img{
    width: 20%;
}
.center{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;

}
.form >form>input{
    border-radius: 10px;
    padding: 3% 1%;
    border-width: 0 0  2px 0;
    outline: 0;
}
.center>img{
width: 10%;

}
.btn{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 2% 5%;
    text-align: center;
}
.btn:hover{
    opacity: 80%;
    cursor: grab;
}
/*zooming the icons*/
.zoom{
  transition: transform .2s; /* Animation */
}
.zoom:hover{
    transform: scale(1.5);
}
.zoom:focus{
    transform: scale(1.5);  
}