<div *ngIf="checkIfAdmin()" class="container-fluid ">
    <div class="left ">
        <img routerLink="/products" class="zoom" src="../../../assets/brand.svg" alt="filter"/>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
<span class="sidebar-toggle d-flex mr-2 "> <i class="hamburger align-self-center"></i></span>
    </div>
    <div class="center">
      
<div class="filter-container"><img ngbPopover="filter Products" triggers="mouseenter:mouseleave"
    (click)="open()"
     class="zoom" src="../../../assets/filter.svg" alt="filter" /></div>
        <div class="form">
            <form #search="ngForm">
                <input type="text" placeholder="  search.." ngModel name="search">
                <button class="btn zoom" type="submit" [disabled]="!search.form.valid">
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="right">
        <img ngbPopover="signin /signup" triggers="mouseenter:mouseleave" routerLink="/auth/login" class="zoom" src="../../../assets/avata.svg" alt="filter"/>
        <img ngbPopover="Cart" triggers="mouseenter:mouseleave"   routerLink="/cart" class="zoom" src="../../../assets/cart.svg" alt="filter"/>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
        <button  popoverTitle="Pop title"  routerLink="/products" class="btn zoom">Logout</button>
        </span>
    </div>
</div>
