<div class="container-fluid ">
    <div class="left ">
        <img routerLink="/products" class="zoom" src="../../../assets/brand.svg" alt="filter"/>
        <img routerLink=""  class="hamburger" src="../../../assets/hamburger.svg" alt="hamburger"/>
        
<span class="sidebar-toggle d-flex mr-2 "> <i class="hamburger align-self-center"></i></span>
    </div>
    <div class="center">
      
<div class="filter-container"><img routerLink="/products/filter" class="zoom" src="../../../assets/filter.svg" alt="filter" /></div>
        <div class="form">
            <form #search="ngForm">
                <input type="text" placeholder="  search.." ngModel name="search">
                <button class="btn zoom" type="submit" [disabled]="!search.form.valid">
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="right">
        <img  routerLink="/auth/login" class="zoom" src="../../../assets/avata.svg" alt="filter"/>
        <img   routerLink="/cart" class="zoom" src="../../../assets/cart.svg" alt="filter"/>
        <button  routerLink="/products" class="btn zoom">Logout</button>
    </div>
</div>
