<div class="container-fluid">
    <div class="left ">
        <img routerLink="/" class="zoom" src="../../../assets/brand.svg" alt="filter"/>

    </div>
    <div class="center">
        <img routerLink="/filter" class="zoom" src="../../../assets/filter.svg" alt="filter"/>
        <div class="form">
            <form #search="ngForm">
                <input type="text" placeholder="  search.." ngModel name="search">
                <button class="btn zoom" type="submit" [disabled]="!search.form.valid">
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="right">
        <img  routerLink="/auth/login" class="zoom" src="../../../assets/avata.svg" alt="filter"/>
        <img   routerLink="/cart" class="zoom" src="../../../assets/cart.svg" alt="filter"/>
        <button  routerLink="/" class="btn zoom">Logout</button>
    </div>
</div>
