<div class="container">
    <div class="details ds-sm">
        <div class="slider-container">

<!-- start -->
<div class="container" >
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="carousel" class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="carousel" [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <h3>No mouse events...</h3>
                <p>This carousel doesn't pause or resume on mouse events</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="carousel" [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="carousel" [src]="images[3]" alt="Random fourth slide">
            </div>
            <div class="carousel-caption">
                <h3>And no wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
    </ngb-carousel>


</div>
<!-- end -->
            <!-- <img src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/42/071213/7.jpg?7557" alt="images"/> -->
        </div>
        <hr/>
        <p><b>Product Ratting</b></p>
        <ngb-rating [(rate)]="currentRate">
            <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
        </ngb-rating>
        <hr>
        <div class="details">
            <h4 class="border tm">Details</h4>
            <div class="border-bottom">
                <ol>
                    <li>  flex: 0.7;</li>
                        <li>%background;</li>
                        <li>background-color: white;</li>
                        <li>padding: 1%;</li>
                        <li>border-radius:5px;</li>
                        <li>display: flex;</li>
                        <li>flex-direction: column;</li>
                        <li>justify-content: center;</li>
                </ol>
            </div>
        </div>
        <div class="specification">
            <h4 class="border tm">Specification</h4>
            <div class="border-bottom">
                <ol>
                    <li>  flex: 0.7;</li>
                        <li>%background ;</li>
                        <li>background-color: white;</li>
                        <li>padding: 1%;</li>
                        <li>border-radius:5px;</li>
                        <li>display: flex;</li>
                        <li>flex-direction: column;</li>
                        <li>justify-content: center;</li>
                </ol>
            </div>
        </div>


    </div>
    <div class="add-cart">
        <div class="product-price">
           <h4> Product name</h4>
           <h6>brand</h6>
           <h3>KSh 15,999</h3>
        </div>
        <button (click)='cartServices.addProductCart({id:10,image:"https://techbuyz.co.ke/wp-content/uploads/2021/07/HP-ProBook-440-G5-1.jpg",barnd:"sumsang",price:2000,quantity:1,subtotal:2000})' class="btn d-flex justify-content-evenly w-100 h-10 h-3 zoom"><img style="width: 10%;" src="../../../../../assets/cart.svg"/>ADD TO CART</button>
        <hr>
        <span>promotion</span>
    </div>
</div>
