.grid{
    display:grid;
    grid-template-columns: repeat(6,15%);
    grid-auto-rows:30%;
    gap:1%;
    background-color: white;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 90%;
    margin: auto !important;
    padding: 0.5%;
    margin: 0.5%;
}
.card{
    width: 100%;
    padding: 0.5%;
    margin: 0.5%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*zooming the icons*/
.zoom{
    transition: transform .2s; /* Animation */
  }
  .zoom:hover{
      transform: scale(1.2);
  }
/*phone*/
@media only screen and (max-width: 375px)
{  .grid{
        display:grid;
        grid-template-columns:90% ;
        grid-auto-rows:auto;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}
/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 810px){
    .grid{
        display:grid;
        grid-template-columns: repeat(3,25%);
        grid-auto-rows:30%;
        gap:1%;
        background-color: white;
        border-radius: 10px;
        justify-content: center;
    }
}