<div class="container">
    <div class="left">
        <div class="b-top">
            <h4>Cart 1</h4>
        </div>
       <div class="" *ngFor="let item of [1,2,3,4,5,6]">
           <hr>
            <div class="product">
                <div class="action">
                    <div class="image-name">
                        <img src="https://ke.jumia.is/unsafe/fit-in/150x150/filters:fill(white)/product/82/847145/1.jpg?9429"
                            alt="">
                        <h3> Sony MDR EXTRA BASS WIRELESS HEADPHONE</h3>
                    </div>
                    <div class="price">
                        <h2>KSh 1,999</h2>
                    </div>
                </div>
                <div class="action">
                    <div class="remove">
                        <button class="zoom btn "> <img src="../../../assets/delete.svg" alt="delete">REMOVE</button>
                    </div>
                    <div class="add-sub">
                        <button class="btn sub  zoom-out"><img src="../../../assets/sub.svg" alt=""></button>
                        <label>0</label>
                        <button class="btn add zoom-out"><img src="../../../assets/add.svg" alt=""></button>
                    </div>
                </div>
            </div>
       </div>


        
    </div>
    <div class="right">
        <div class="title"><h4>CART SUMMARY</h4></div>
        <hr>

        <div class="subtotal"><h3>Subtotal</h3> <h2>KSh 1,999</h2></div>
        <hr>
        <!-- <button class="btn w-100 zoom-out">Login</button> -->
        <div class="payment">
            <a class="btn btn-mpesa"><img class="mpesa zoom-out" src="../../../assets/mpesa.svg" alt="mpesa"></a>
            <!-- <a ><img class="paypal zoom-out" src="../../../assets/paypal.svg" alt="paypal"></a> -->
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>

    </div>
</div>
